body {
    background-color: #ff9000;
    font-family: 'Roboto';
}

.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
}

.container .box-form {
    animation: bounceIn 2s ease-in-out;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    padding: 25px;
    width: 80%;
}

.container .box-form input {
    border-bottom: 1px solid gray;
    border-right: none;
    border-left: none;
    border-top: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    outline: none;
    width: 50%;
}

.container .box-form .btn {
    background-color: #ff9000;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 20px;
    padding: 6px;
    outline: none;
    width: 100px;
}

.container .box-result {
    display: none;
}

.container .box-feedback {
    animation: flash 2s ease-in;
    display: none;
}

.container .box-feedback p{
    color: red;
    font-size: 13px;
}

/* ANIMATIONS */

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }